# Dependencias de Node / Web
node_modules/
.pnpm-store/
dist/
build/

# Entornos virtuales y caché de Python
.venv/
env/
venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Datos pesados, Logs y Bases de datos locales
*.log
*.db
*.sqlite3
.mpremote/

# Netlify
.netlify/

# Archivos del sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Variables de entorno (¡Seguridad!)
.env
.env.local
.env.*.local

# Archivos de audio temporales usados en pruebas
tests/*.ogg
tests/*.oga
tests/*.mp3
